@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:wght@400;700&display=swap');

:root {
  --cor-de-fundo: #f6ecec;
  --verde: #6FFF57;
  --branco: #bbacb800;
  --botao-ativo: #000000;
  --botao-inativo: rgba(0, 0, 0, 0.972);
  --texto-fundo: rgba(0, 0, 0, 0.96);
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: 'Chakra Petch', sans-serif;
}



