@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:wght@400;700&display=swap');

:root {
  --cor-de-fundo: #ff0000;
  --verde: #43703a;
  --branco: #bbacb800;
  --botao-ativo: #10ff08fa;
  --botao-inativo: rgb(0, 250, 29);
  --texto-fundo: rgba(0, 0, 0, 0.96);
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: 'Chakra Petch', sans-serif;
}



